<footer class="bg-dark text-center text-white">
  <!-- Grid container -->
  <div class="container p-4 pb-0">
    <!-- Section: Social media -->
    <h3>Created By: </h3>
    <a href="https://github.com/YashAgarwal-alt"> Yash Agarwal </a> <br> 
    <a href=""> Mustafa Natheir </a> <br> 
    <a href=""> Sarah Khan </a>   <br> 
    <a href=""> Young Jun </a>
  </div>
  <!-- Grid container -->

  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    © 2020 Copyright: <br>
    <a class="text-white" href="https://mdbootstrap.com/">Zeal Mental Health</a>
  </div>
  <!-- Copyright -->
</footer>